// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
    table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
    width: map-get($columns, $numberColumns) - (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}



// Define vertical, horizontal, or both position
@mixin center($position) {
    position: absolute;

    @if $position=='vertical' {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    @else if $position=='horizontal' {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
    }

    @else if $position=='both' {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

// Using the mixin
// .foo {
//     @include center(both);
// }

// .foo-parent {
//     position: relative;
// }


@mixin screen($size) {
    $desktop: "only screen and (min-width: 1024px)";
    $tablet: "only screen and (min-width: 768px) and (max-width: 1023px)";
    $mobile: "only screen and (max-width: 767px)";
    $size: "only screen and";

    @if $size==desktop {
        @media #{$desktop} {
            @content;
        }
    }

    @else if $size==tablet {
        @media #{$tablet} {
            @content;
        }
    }

    @else if $size==mobile {
        @media #{$mobile} {
            @content;
        }
    }

    @else {
        @media #{$size} {
            @content;
        }
    }
}

// Usage
// .wrapper {
//     margin: 0 auto;
//     width: 100%;

//     @include screen('tablet') {
//         width: 90%;
//     }

//     @include screen('desktop') {
//         width: 85%;
//     }
// }
